<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>书籍存放</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all"/>
    <link th:href="@{/layui/spop-0.1.3/dist/spop.css}" rel="stylesheet">
    <link th:href="@{/layui/css/spop.css}" rel="stylesheet">
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/space.js}"></script>
    <script th:src="@{/js/spopUtil.js}"></script>
    <script th:src="@{/spop-0.1.3/dist/spop.js}"></script>
    <style type="text/css">
        body{padding: 10px 30px;}
        .hide{display:none}
    </style>
</head>
<body>
    <blockquote class="layui-elem-quote">所有监听数据请打开控制台查看</blockquote>

    <button class="layui-btn layui-btn-primary up-all">全部收起</button>
    <button class="layui-btn layui-btn-primary down-all">全部展开</button>
    <button class="layui-btn layui-btn-primary get-checked">获取选中</button>
    <button class="layui-btn layui-btn-primary add-parentsapce">添加最大父空间</button>

    <table class="layui-table layui-form" id="test-tree-table"></table>
    <div id="view"></div>
    <script id="demospace" type="text/html">
        <form class="layui-form" action="" id="SpaceForm">
            <label class="layui-form-label"></label>
            {{#  if(d.parentId){ }}
            <input name="parentId" type="hidden" value="{{d.parentId}}"/>
            {{#  } }}
            {{#  if(d.id){ }}
            <input name="id" type="hidden" value="{{d.id}}"/>
            {{#  } }}
            <div class="layui-form-item">
                <label class="layui-form-label">空间名称</label>
                <div class="layui-input-inline" style="width: 179px;">
                    <input id="spaceName" type="text" name="spaceName" placeholder="请输入名称" autocomplete="off" class="layui-input" value="{{ d.spaceName }}">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-inline">
                    {{#  if(d.remark === null){ }}
                    {{d.remark=""}}
                    {{#  } }}
                    <textarea id="spaceremark" name="remark" placeholder="请输入备注" class="layui-textarea" value="{{}}">{{d.remark}}</textarea>
                </div>
            </div>
            {{#  if(d.submitType > 0 ){ }}
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <div class="layui-input-block">
                    <button id="submitSpace" type="button" class="layui-btn" lay-submit lay-filter="save" submitType="{{d.submitType}}">立即提交</button>
                </div>
            </div>
            {{#  } }}
        </form>


    </script>
    <div id="view2"></div>
    <script id="demo2" type="text/html">
        <form class="layui-form" action="" id="SpaceForm2">
            {{#  if(d.id){ }}
            <input name="id" type="hidden" value="{{d.id}}"/>
            {{#  } }}
            <div class="layui-form-item">
                <label class="layui-form-label">移动到</label>
                <div class="layui-input-inline" style="width: 179px;">
                    <input id="parentId" type="text" name="pid" placeholder="请输入ID" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <div class="layui-input-block">
                    <button id="submitSpace2" type="button" class="layui-btn" lay-submit lay-filter="move" >立即提交</button>
                </div>
            </div>
        </form>
    </script>


    <div id="test0">
        <table class="layui-hide" id="test1" lay-filter="test"></table>
    </div>

    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">移除</a>
        <div style="width: 10px;display: inline-block"></div>
    </script>

    <script id="headTemplate" type="text/html">
        <div class="layui-table-tool-temp">
            <div class="layui-inline" lay-event="add">
                <i class="layui-icon layui-icon-add-1"></i>
            </div>
            <!--<div class="layui-inline" lay-event="delete">
                <i class="layui-icon layui-icon-delete"></i>
            </div>-->
            <div class="layui-inline" lay-event="refresh">
                <i class="layui-icon layui-icon-refresh"></i>
            </div>
            <!--<div class="layui-inline" lay-event="filtrate">
                <i class="layui-icon layui-icon-app"></i>
            </div>-->
        </div>
    </script>

    <script id="demo" type="text/html">
        <form class="layui-form" action="" id="bookForm">
            <label class="layui-form-label"></label>
            {{# if(d.id){ }}
            <input name="id" type="hidden" value="{{d.id}}"/>
            {{# } }}
            <div class="layui-form-item">
                <label class="layui-form-label">图书名称</label>
                <div class="layui-input-inline" style="width: 200px;">
                    <input id="bookName" type="text" name="bookName" placeholder="请输入" autocomplete="off"
                           class="layui-input" value="{{ d.bookName }}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">编号</label>
                <div class="layui-input-inline" style="width: 200px;">
                    <input id="bookCode" type="text" name="bookCode" placeholder="请输入" autocomplete="off"
                           class="layui-input" value="{{ d.bookCode }}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">作者</label>
                <div class="layui-input-inline" style="width: 200px;">
                    <input id="authorName" type="text" name="authorName" placeholder="请输入" autocomplete="off"
                           class="layui-input" value="{{ d.authorName }}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">价格</label>
                <div class="layui-input-inline" style="width: 200px;">
                    <input id="price" type="text" name="price" placeholder="请输入" autocomplete="off"
                           class="layui-input" value="{{ d.price }}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">出版社</label>
                <div class="layui-input-inline" style="width: 200px;">
                    <input id="pressName" type="text" name="pressName" placeholder="请输入" autocomplete="off"
                           class="layui-input" value="{{ d.pressName }}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">书籍类型</label>
                <div class="layui-input-inline" style="width: 200px;">
                    <select id="bookType" name="bookTypeId" lay-verify="required">

                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">收费方式</label>
                <div class="layui-input-inline" style="width: 200px;">
                    <select name="bookChcoType" lay-verify="required">
                        {{# if(d.bookChcoType==0){ }}
                        <option value="0" selected>免费</option>
                        <option value="1">收费</option>
                        {{# }else{ }}
                        <option value="0">免费</option>
                        <option value="1" selected>收费</option>
                        {{# } }}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">存放地点</label>
                <div class="layui-input-inline" style="width: 200px;">
                    {{# if(typeof(d.bookSpaceId) == 'undefined'||d.bookSpaceId===null){ }}
                    {{d.bookSpaceId=""}}
                    {{# } }}
                    <input id="bookSpaceId" type="text" name="bookSpaceId" placeholder="请输入" autocomplete="off"
                           class="layui-input" value="{{ d.bookSpaceId }}">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-inline">
                    {{# if(d.remark === null){ }}
                    {{d.remark=""}}
                    {{# } }}
                    <textarea id="bookTypeRemark" name="remark" placeholder="请输入备注"
                              class="layui-textarea">{{d.remark}}</textarea>
                </div>
            </div>
            {{# if(d.submitType > 0 ){ }}
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <div class="layui-input-block">
                    <button id="submitBookType" type="button" class="layui-btn" lay-submit lay-filter="save">立即提交
                    </button>
                </div>
            </div>
            {{# } }}
        </form>
    </script>

<div id="SpaceAddBook" style="display:none;">
    <form class="layui-form" action="" id="spaceBookForm" METHOD="POST" enctype="multipart/form-data">
        <div class="layui-form-item">
            <label class="layui-form-label">图书编号</label>
            <div class="layui-input-inline" style="width: 200px;">
                <input id="bookCodes" type="text" name="bookCode" placeholder="请输入图书编号" autocomplete="off"
                       class="layui-input" value="">
            </div>
        </div>

        <div class="layui-form-item">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-inline" style="width: 260px;">
                    <!--<input  id="part" type="radio" name="status" value="1" title="正常" checked>-->
                    <!--<input  id="part" type="radio" name="status" value="0" title="下架">-->
                    <input name="status" id="status" type="radio" value="1" title="正常"/>
                    <input name="status" id="status" type="radio" value="0" title="下架"/>
                </div>
         </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button id="submitSpaceBook" type="button" class="layui-btn" lay-submit lay-filter="save">立即添加
                </button>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <input id="bookExcelFile" type="file" name="backImageFile" style="display: none;" />
                <button id="submitBookExcel" class="layui-btn" type="button">取</button>
            </div>
        </div>

    </form>
</div>

</body>

</html>