<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all"/>
    <link th:href="@{/layui/spop-0.1.3/dist/spop.css}" rel="stylesheet">
    <link th:href="@{/layui/css/spop.css}" rel="stylesheet">
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/space.js}"></script>
    <script th:src="@{/js/spopUtil.js}"></script>
    <script th:src="@{/spop-0.1.3/dist/spop.js}"></script>
    <style type="text/css">
        body{padding: 10px 30px;}
        .hide{display:none}
    </style>
</head>
<body>
    <blockquote class="layui-elem-quote">所有监听数据请打开控制台查看</blockquote>

    <button class="layui-btn layui-btn-primary up-all">全部收起</button>
    <button class="layui-btn layui-btn-primary down-all">全部展开</button>
    <button class="layui-btn layui-btn-primary get-checked">获取选中</button>

    <table class="layui-table layui-form" id="test-tree-table"></table>
</body>

</html>