<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all"/>
    <link th:href="@{/spop-0.1.3/dist/spop.css}" rel="stylesheet">
    <link th:href="@{/css/spop.css}" rel="stylesheet">
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/book.js}"></script>
    <script th:src="@{/js/spopUtil.js}"></script>
    <script th:src="@{/spop-0.1.3/dist/spop.js}"></script>
    <style>
        .layui-form-label {
            width: 90px;
        }

        #filtrate {
            width: 90%;
            display: none;
        }
    </style>
</head>
<body>
<table class="layui-hide" id="bbbbb" lay-filter="test"></table>
<div id="view"></div>

<div id="filtrate">
    <div style="display: inline-block;float: left;margin-top: 10px">
        <form class="layui-form" id="filtrateFrom">
            <div class="layui-form-item">
                <label class="layui-form-label">图书名称</label>
                <div class="layui-input-inline" style="width: 200px;">
                    <input id="filtrateBookName" type="text" name="bookName" placeholder="请输入" autocomplete="off"
                           class="layui-input" value="">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">编号</label>
                <div class="layui-input-inline" style="width: 200px;">
                    <input id="filtrateBookCode" type="text" name="bookCode" placeholder="请输入" autocomplete="off"
                           class="layui-input" value="">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">作者</label>
                <div class="layui-input-inline" style="width: 200px;">
                    <input id="filtrateAuthorName" type="text" name="authorName" placeholder="请输入" autocomplete="off"
                           class="layui-input" value="">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">价格范围</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" name="price_min" placeholder="￥" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid">-</div>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" name="price_max" placeholder="￥" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">出版社</label>
                <div class="layui-input-inline" style="width: 200px;">
                    <input id="filtratePressName" type="text" name="pressName" placeholder="请输入" autocomplete="off"
                           class="layui-input" value="">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">书籍类型</label>
                <div class="layui-input-inline" style="width: 200px;">
                    <select class="bookType" name="bookTypeId">
                        <option value='' selected>全部</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">收费方式</label>
                <div class="layui-input-inline" style="width: 200px;">
                    <select name="bookChcoType">
                        <option value="" selected>全部</option>
                        <option value="0">免费</option>
                        <option value="1">收费</option>
                    </select>
                </div>
            </div>
            <!--<div class="layui-form-item">
                <label class="layui-form-label">存放地点ID</label>
                <div class="layui-input-inline" style="width: 200px;">
                    <input id="filtrateBookSpaceId" type="text" name="bookSpaceId" placeholder="请输入" autocomplete="off"
                           class="layui-input" value="">
                </div>
            </div>-->
            <div class="layui-form-item">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-inline" style="width: 260px;">
                    <input type="radio" name="status" value="1" title="正常" checked>
                    <input type="radio" name="status" value="0" title="下架">
                    <input type="radio" name="status" value="" title="全部">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <div class="layui-input-block">
                    <button id="filtrateSubmitBookType" type="button" class="layui-btn" lay-submit lay-filter="save">
                        提交筛选
                    </button>
                    <button id="refiltrateSubmitBookType" type="button" class="layui-btn" lay-submit lay-filter="save">
                        清空筛选
                    </button>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">导出为Excel</label>
                <div class="layui-input-inline" style="width: 200px;">
                    <input id="fileName" type="text" name="fileName" placeholder="文件名.xlsx" autocomplete="off"
                           class="layui-input" value="">
                    <button id="downloadBookExcel" type="button" class="layui-btn layui-btn-xs"
                            style="margin-top: -55px;margin-left: 160px">导出
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--//-->
    <div style="display: inline-block;margin-top: 10px">
        <form class="layui-form" id="updateFiltrateFrom">
            <div class="layui-form-item">
                <label class="layui-form-label">图书名称</label>
                <div class="layui-input-inline" style="width: 200px;">
                    <input id="updateFiltrateBookName" type="text" name="bookName" placeholder="不更改" autocomplete="off"
                           class="layui-input" value="">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">作者</label>
                <div class="layui-input-inline" style="width: 200px;">
                    <input id="updateFiltrateAuthorName" type="text" name="authorName" placeholder="不更改"
                           autocomplete="off"
                           class="layui-input" value="">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">价格</label>
                <div class="layui-input-inline" style="width: 200px;">
                    <input type="text" name="price" placeholder="不更改" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">出版社</label>
                <div class="layui-input-inline" style="width: 200px;">
                    <input id="updateFiltratePressName" type="text" name="pressName" placeholder="不更改"
                           autocomplete="off"
                           class="layui-input" value="">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">书籍类型</label>
                <div class="layui-input-inline" style="width: 200px;">
                    <select class="bookType" name="bookTypeId">
                        <option value="" selected>不更改</option>

                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">收费方式</label>
                <div class="layui-input-inline" style="width: 200px;">
                    <select name="bookChcoType">
                        <option value="" selected>不更改</option>
                        <option value="0">免费</option>
                        <option value="1">收费</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">存放地点ID</label>
                <div class="layui-input-inline" style="width: 200px;">
                    <input id="updateFiltrateBookSpaceId" type="text" name="bookSpaceId" placeholder="不更改"
                           autocomplete="off"
                           class="layui-input" value="">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">租借类型</label>
                <div class="layui-input-inline" style="width: 200px;">
                    <select id="updateBookLeaseType" name="bookLeaseType">
                        <option value="" selected>不更改</option>

                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-inline" style="width: 260px;">
                    <input type="radio" name="status" value="1" title="正常">
                    <input type="radio" name="status" value="0" title="下架">
                    <input type="radio" name="status" value="" title="不更改" checked>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <div class="layui-input-block">
                    <button id="updateFiltrateSubmitBookType" type="button" class="layui-btn" lay-submit
                            lay-filter="save">
                        提交更改
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/html" id="bookstatus">
    {{# if(d.status==1){ }}
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="changeStatus">正常(点击下架)</a>
    {{# }else if(d.status==0){ }}
    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="changeStatus">未上架(点击上架)</a>
    {{# }else if(d.status==2){ }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="">永久下架</a>
    {{# }  }}
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    <div style="width: 10px;display: inline-block"></div>
</script>

<script type="text/html" id="bookSpace">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="browse">查看</a>
</script>

<script id="demo" type="text/html">
    <form class="layui-form" action="" id="bookForm">
        <label class="layui-form-label"></label>
        {{# if(d.id){ }}
        <input name="id" type="hidden" value="{{d.id}}"/>
        {{# } }}
        <div class="layui-form-item">
            <label class="layui-form-label">图书名称</label>
            <div class="layui-input-inline" style="width: 200px;">
                <input id="bookName" type="text" name="bookName" placeholder="请输入" autocomplete="off"
                       class="layui-input" value="{{ d.bookName }}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">编号</label>
            <div class="layui-input-inline" style="width: 200px;">
                <input id="bookCode" type="text" name="bookCode" placeholder="请输入" autocomplete="off"
                       class="layui-input" value="{{ d.bookCode }}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">作者</label>
            <div class="layui-input-inline" style="width: 200px;">
                <input id="authorName" type="text" name="authorName" placeholder="请输入" autocomplete="off"
                       class="layui-input" value="{{ d.authorName }}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">价格</label>
            <div class="layui-input-inline" style="width: 200px;">
                <input id="price" type="text" name="price" placeholder="请输入" autocomplete="off"
                       class="layui-input" value="{{ d.price }}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">出版社</label>
            <div class="layui-input-inline" style="width: 200px;">
                <input id="pressName" type="text" name="pressName" placeholder="请输入" autocomplete="off"
                       class="layui-input" value="{{ d.pressName }}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">书籍类型</label>
            <div class="layui-input-inline" style="width: 200px;">
                <select id="bookType" name="bookTypeId" lay-verify="required">

                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">收费方式</label>
            <div class="layui-input-inline" style="width: 200px;">
                <select name="bookChcoType" lay-verify="required">
                    {{# if(d.bookChcoType==0){ }}
                    <option value="0" selected>免费</option>
                    <option value="1">收费</option>
                    {{# }else{ }}
                    <option value="0">免费</option>
                    <option value="1" selected>收费</option>
                    {{# } }}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">存放地点</label>
            <div class="layui-input-inline" style="width: 200px;">
                {{# if(typeof(d.bookSpaceId) == 'undefined'||d.bookSpaceId===null){ }}
                {{d.bookSpaceId=""}}
                {{# } }}
                <input id="bookSpaceId" type="text" name="bookSpaceId" placeholder="请输入" autocomplete="off"
                       class="layui-input" value="{{ d.bookSpaceId }}">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-inline">
                {{# if(d.remark === null){ }}
                {{d.remark=""}}
                {{# } }}
                <textarea id="bookTypeRemark" name="remark" placeholder="请输入备注"
                          class="layui-textarea">{{d.remark}}</textarea>
            </div>
        </div>
        {{# if(d.submitType > 0 ){ }}
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-block">
                <button id="submitBookType" type="button" class="layui-btn" lay-submit lay-filter="save">立即提交
                </button>
            </div>
        </div>
        {{# } }}
    </form>
</script>

<script id="headTemplate" type="text/html">
    <div class="layui-table-tool-temp">
        <!--<div class="layui-inline" lay-event="add">
            <i class="layui-icon layui-icon-add-1"></i>
        </div>-->
        <div class="layui-inline" lay-event="delete">
            <i class="layui-icon layui-icon-delete"></i>
        </div>
        <div class="layui-inline" lay-event="refresh">
            <i class="layui-icon layui-icon-refresh"></i>
        </div>
        <div class="layui-inline" lay-event="filtrate">
            <i class="layui-icon layui-icon-app"></i>
        </div>
        <!--<div class="layui-inline" lay-event="update">
            <i class="layui-icon layui-icon-edit"></i>
        </div>-->
    </div>
</script>

</body>

</html>