<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all"/>
    <link th:href="@{/spop-0.1.3/dist/spop.css}" rel="stylesheet">
    <link th:href="@{/css/spop.css}" rel="stylesheet">
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/book.js}"></script>
    <script th:src="@{/js/spopUtil.js}"></script>
    <script th:src="@{/spop-0.1.3/dist/spop.js}"></script>
    <style>
        .layui-form-label {
            width: 90px;
        }
    </style>
</head>
<body>
<table class="layui-table"
       lay-data="{ url:'/book/list.json', page:true, id:'test',toolbar: '#headTemplate',done:function(res, curr, count){ pageCh(res, curr, count) }}"
       lay-filter="test">
    <thead>
    <tr>
        <th lay-data="{type:'checkbox', width:40}"></th>
        <th lay-data="{field:'id', width:60, hide:true, sort: true}">ID</th>
        <th lay-data="{field:'bookName',sort: true}">书籍名称</th>
        <th lay-data="{field:'bookCode',hide:true,sort: true}">书籍编号</th>
        <th lay-data="{field:'authorName',sort: true}">作者</th>
        <th lay-data="{field:'price',sort: true}">价格</th>
        <th lay-data="{field:'pressName',sort: true}">出版社</th>
        <th lay-data="{field:'bookTypeId',sort: true,templet:function(bookTypeId){return getBookType(bookTypeId)} }">书籍类型</th>
        <th lay-data="{field:'bookLeaseId',hide:true,sort: true}">书籍租借id</th>
        <th lay-data="{field:'bookLeaseType',hide:true,sort: true }">书籍租借类型</th>
        <th lay-data="{field:'bookChcoType',sort: true,templet:function(obj){if(obj.bookChcoType==0){return '免费'}else{ return '收费' }}}">收费方式</th>
        <th lay-data="{field:'bookSpaceId',sort: true}">存放地点id</th>
        <th lay-data="{field:'operator',hide:true,  sort: true}">创建人</th>
        <th lay-data="{field:'operateTime',sort: true,hide:true,align:'center',templet:function(operateTime){return createTime(operateTime)} }">
            创建时间
        </th>
        <th lay-data="{field:'remark'}">备注</th>
        <span isis="tt"></span>
        <th lay-data="{fixed: 'right',toolbar:'#barDemo', width:175,align:'center'}"></th>
    </tr>
    </thead>
</table>
<div id="slidePage" class="layui-elem-field layui-field-title"
     style="margin-top: 30px;width: 480px;margin-left: 40px">
</div>
<div id="view"></div>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    <div style="width: 10px;display: inline-block"></div>
</script>
<script id="demo" type="text/html">
    <form class="layui-form" action="" id="bookForm">
        <label class="layui-form-label"></label>
        {{# if(d.id){ }}
        <input name="id" type="hidden" value="{{d.id}}"/>
        {{# } }}
        <div class="layui-form-item">
            <label class="layui-form-label">图书名称</label>
            <div class="layui-input-inline" style="width: 200px;">
                <input id="bookName" type="text" name="bookName" placeholder="请输入" autocomplete="off"
                       class="layui-input" value="{{ d.bookName }}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">编号</label>
            <div class="layui-input-inline" style="width: 200px;">
                <input id="bookCode" type="text" name="bookCode" placeholder="请输入" autocomplete="off"
                       class="layui-input" value="{{ d.bookCode }}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">作者</label>
            <div class="layui-input-inline" style="width: 200px;">
                <input id="authorName" type="text" name="authorName" placeholder="请输入" autocomplete="off"
                       class="layui-input" value="{{ d.authorName }}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">价格</label>
            <div class="layui-input-inline" style="width: 200px;">
                <input id="price" type="text" name="price" placeholder="请输入" autocomplete="off"
                       class="layui-input" value="{{ d.price }}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">出版社</label>
            <div class="layui-input-inline" style="width: 200px;">
                <input id="pressName" type="text" name="pressName" placeholder="请输入" autocomplete="off"
                       class="layui-input" value="{{ d.pressName }}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">书籍类型</label>
            <div class="layui-input-inline" style="width: 200px;">
                <input id="bookTypeId" type="text" name="bookTypeId" placeholder="请输入" autocomplete="off"
                       class="layui-input" value="{{ d.bookTypeId }}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">收费方式</label>
            <div class="layui-input-inline" style="width: 200px;">
                <input id="bookChcoType" type="text" name="bookChcoType" placeholder="请输入" autocomplete="off"
                       class="layui-input" value="{{ d.bookChcoType }}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">存放地点</label>
            <div class="layui-input-inline" style="width: 200px;">
                {{# if(typeof(d.bookSpaceId) == 'undefined'||d.bookSpaceId===null){ }}
                {{d.bookSpaceId=""}}
                {{# } }}
                <input id="bookSpaceId" type="text" name="bookSpaceId" placeholder="请输入" autocomplete="off"
                       class="layui-input" value="{{ d.bookSpaceId }}">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-inline">
                {{# if(d.remark === null){ }}
                {{d.remark=""}}
                {{# } }}
                <textarea id="bookTypeRemark" name="remark" placeholder="请输入备注"
                          class="layui-textarea">{{d.remark}}</textarea>
            </div>
        </div>
        {{# if(d.submitType > 0 ){ }}
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-block">
                <button id="submitBookType" type="button" class="layui-btn" lay-submit lay-filter="save">立即提交
                </button>
            </div>
        </div>
        {{# } }}
    </form>
</script>

<script id="headTemplate" type="text/html">
    <div class="layui-table-tool-temp">
        <!--<div class="layui-inline" lay-event="add">
            <i class="layui-icon layui-icon-add-1"></i>
        </div>-->
        <div class="layui-inline" lay-event="update">
            <i class="layui-icon layui-icon-edit"></i>
        </div>
        <div class="layui-inline" lay-event="delete">
            <i class="layui-icon layui-icon-delete"></i>
        </div>
        <div class="layui-inline" lay-event="refresh">
            <i class="layui-icon layui-icon-refresh"></i>
        </div>
    </div>
</script>

</body>

</html>