<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all"/>
    <link th:href="@{/spop-0.1.3/dist/spop.css}" rel="stylesheet">
    <link th:href="@{/css/spop.css}" rel="stylesheet">
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/book.js}"></script>
    <script th:src="@{/js/spopUtil.js}"></script>
    <script th:src="@{/spop-0.1.3/dist/spop.js}"></script>
    <style>
        .q{
            display: inline-block;
        }
    </style>
</head>
<body>

</body>

</html>