<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理员管理</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all"/>
    <link th:href="@{/spop-0.1.3/dist/spop.css}" rel="stylesheet">
    <link th:href="@{/css/spop.css}" rel="stylesheet">
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/js/admin.js}"></script>
    <script th:src="@{/js/spopUtil.js}"></script>
    <script th:src="@{/spop-0.1.3/dist/spop.js}"></script>
    <style>
        .layui-form-label{
            width: 120px;
        }
    </style>
</head>
<body>
<table class="layui-table" lay-data="{ url:'/admin/page.json', page:true, id:'test',toolbar: '#headTemplate',done:function(res, curr, count){ pageCh(res, curr, count) }}" lay-filter="test">
    <thead>
    <tr>
        <th lay-data="{type:'checkbox', width:40}"></th>
        <th lay-data="{field:'id', width:60, hide:true, sort: true}">ID</th>
        <th lay-data="{field:'adminCode',width:80,sort: true}">账号</th>
        <th lay-data="{field:'adminPwd', width:80, sort: true}">密码</th>
        <th lay-data="{field:'adminName', width:80, sort: true}">姓名</th>
        <th lay-data="{field:'age', width:80,sort: true}">年龄</th>
        <th lay-data="{field:'birthday', width:120,sort: true}">生日</th>
        <th lay-data="{field:'idCard', width:150, sort: true}">身份证号</th>
        <th lay-data="{field:'operator', width:80, sort: true}">创建人</th>
        <th lay-data="{field:'operateTime',width:200,sort: true,align:'center',templet:function(operateTime){return createTime(operateTime)} }">创建时间</th>
        <th lay-data="{field:'remark'}">备注</th><span isis="tt"></span>
        <th lay-data="{fixed: 'right',toolbar:'#barDemo', width:175,align:'center'}"></th>
    </tr>
    </thead>
</table>
<div id="view"></div>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <div style="width: 10px;display: inline-block"></div>
</script>
<script id="demo" type="text/html">
    <form class="layui-form" action="" id="adminForm">
        {{#  if(d.submitType == 2 ){ }}
        <input type="hidden" name="id" value="{{ d.id || '' }}"/>
        {{#  } }}
        {{#  if(d.submitType != 2 ){ }}
        <div class="layui-form-item">
            <label class="layui-form-label">登录账号</label>
            <div class="layui-input-inline">
                <input type="text" name="adminCode" placeholder="请输入账号" autocomplete="off" value="{{ d.adminCode || '' }}" class="layui-input">
            </div>
        </div>
        {{#  }else{ }}
        <div class="layui-form-item">
            <label class="layui-form-label">登录账号</label>
            <div class="layui-input-inline">
                <input type="text" name="adminCode" placeholder="请输入账号" autocomplete="off" value="{{ d.adminCode || '' }}" class="layui-input" readonly>
            </div>
        </div>
        {{# } }}
        <div class="layui-form-item">
            <label class="layui-form-label">登录密码</label>
            <div class="layui-input-inline">
                <input type="password" name="adminPwd" placeholder="请输入密码" autocomplete="off" class="layui-input" value="{{ d.adminPwd || ''}}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">真实姓名</label>
            <div class="layui-input-inline">
                <input type="text" name="adminName" placeholder="请输入真实姓名" autocomplete="off" class="layui-input" value="{{ d.adminName || ''}}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">生日</label>
            <div class="layui-input-inline">
                <input type="text" id="test1" name="birthday" class="layui-input" readonly>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">身份证号</label>
            <div class="layui-input-inline">
                <input type="text" name="idCard" placeholder="请输入身份证号" autocomplete="off" class="layui-input" value="{{ d.idCard || '' }}">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-inline">
                <textarea name="remark" class="layui-textarea">{{ d.remark || '' }}</textarea>
            </div>
        </div>
        {{#  if(d.submitType > 0 ){ }}
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-block">
                <button id="submitAdmin" type="button" class="layui-btn" lay-submit lay-filter="save" submitType="{{d.submitType}}">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
        {{#  } }}
    </form>


</script>

<script id="headTemplate" type="text/html">
    <div class="layui-table-tool-temp">
        <div class="layui-inline" lay-event="add">
            <i class="layui-icon layui-icon-add-1"></i>
        </div>
        <div class="layui-inline" lay-event="update">
            <i class="layui-icon layui-icon-edit"></i>
        </div>
        <div class="layui-inline" lay-event="refresh">
            <i class="layui-icon layui-icon-refresh"></i>
        </div>

    </div>
</script>

</body>

</html>